html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: white;
}

.container {
  align-items: center;
  justify-content: center;
  margin: 2%;
}
/* main page */

.list-books-title {
  padding: 10px;
  background: #bcc5bcb4;
  text-align: center;
  font-size: 1em;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}
@media (max-width: 600px) {
  .books-grid {
    flex-direction: column;
  }
}
.bookshelf-title {
  border-bottom: 1px solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.book {
  width: 140px;
  text-align: left;
}
